<% content_for :title do %>Outbreak threshold confirmation<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="SICU" data-view="Graph" data-title="SICU"
          data-moreinfo="new cases in last 30d"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="NSIC" data-view="Graph" data-title="NSICU" 
          style="background-color: #393" data-moreinfo="new cases in last 30d"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="CSIU" data-view="Graph" data-title="CSICU" 
          style="background-color: #756" data-moreinfo="new cases in last 30d"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="MICU" data-view="Graph" data-title="MICU" 
          style="background-color: #873" data-moreinfo="new cases in last 30d"></div>
    </li>
  </ul>
</div>